[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/OpenXiangShan/rocket-chip.git
[submodule "utility"]
	path = utility
	url = https://github.com/Diana0525/utility
	branch = acdp
[submodule "HuanCun"]
	path = HuanCun
	url = https://github.com/Diana0525/HuanCun.git
	branch = acdp
[submodule "tl-test"]
	path = tl-test
	url = https://github.com/OpenXiangShan/tl-test.git
